flows_Learning.json
[{"id":"1b75e785.a9292","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6d50cefee5ebe7f3","type":"tab","label":"Startup flow","disabled":false,"info":"","env":[]},{"id":"40e605db.1646c4","type":"tab","label":"DEMO: set and clear status","disabled":false,"info":""},{"id":"6ba09aa34083f305","type":"tab","label":"Flow 3","disabled":true,"info":"","env":[]},{"id":"4c4f7084c82dd860","type":"tab","label":"Erik Flows","disabled":false,"info":"","env":[]},{"id":"81cba84f.9acf8","type":"subflow","name":"Subflow 1","info":"","in":[{"x":40,"y":80,"wires":[{"id":"55bbab3f.db08dc"}]}],"out":[{"x":660,"y":80,"wires":[{"id":"5c3f6d64.4ea0ec","port":0}]}]},{"id":"f81b169f.07e4e97","type":"OL Connect Server","url":"http://127.0.0.1:9340","ignorecer":false,"name":"OL Connect Server Instance"},{"id":"dcd6aeecc8234320","type":"OL COTG Server","server":"nubook","privateURL":"https://localhost/cotg/wp-json/cotg/v1/documents","name":""},{"id":"5c3f6d64.4ea0ec","type":"file","z":"81cba84f.9acf8","name":"","filename":"C:/projects/test.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":510,"y":80,"wires":[[]]},{"id":"55bbab3f.db08dc","type":"change","z":"81cba84f.9acf8","name":"Set payload.lorem","rules":[{"t":"set","p":"payload.lorem","pt":"msg","to":"ipsum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":80,"wires":[["c2cf6345.11efe"]]},{"id":"c2cf6345.11efe","type":"csv","z":"81cba84f.9acf8","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":350,"y":80,"wires":[["5c3f6d64.4ea0ec"]]},{"id":"4b73086c.fe7d4","type":"inject","z":"1b75e785.a9292","name":"payload json","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"brightness_pct\":\"brightness\",\"hs_color\":[\"hue\",\"saturation\"]}","payloadType":"json","x":130,"y":40,"wires":[["b37043b461dc1b03"]]},{"id":"22cfd25b.f5c356","type":"debug","z":"1b75e785.a9292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"toto","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":40,"wires":[]},{"id":"d5627a37.b278b","type":"inject","z":"1b75e785.a9292","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"750","payloadType":"num","x":110,"y":180,"wires":[["6a12ad5f.83ff4c"]]},{"id":"6a12ad5f.83ff4c","type":"function","z":"1b75e785.a9292","name":"","func":"node.log(\"Log message\");\nmsg.custom1 = \"custom1 string value\";\nflow.set(\"soil_humidity_threshold\",msg.payload);\nmsg.custom2 = flow.get(\"soil_humidity_threshold\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":180,"wires":[["7a400166.55acf","ce1b9cf1.837d28","c3d23e86.209958"]]},{"id":"7a400166.55acf","type":"debug","z":"1b75e785.a9292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":180,"wires":[]},{"id":"ce1b9cf1.837d28","type":"debug","z":"1b75e785.a9292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"custom1","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":240,"wires":[]},{"id":"c3d23e86.209958","type":"debug","z":"1b75e785.a9292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"custom2","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":300,"wires":[]},{"id":"ca799efa.416218","type":"function","z":"1b75e785.a9292","name":"return object msg attributes payload and toto","func":"var humidity_pc = 100 * (1 - flow.get(\"soil_humidity_threshold\")/1023);\nreturn {payload: humidity_pc, toto:\"test\"};\n\n/* <=> to this below \nmsg.payload = humidity_pc;\nmsg.toto = \"Test\";\nreturn msg*/","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":360,"wires":[["b57584d3.82a55","9eccc21abab4f778"]]},{"id":"b57584d3.82a55","type":"debug","z":"1b75e785.a9292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":360,"wires":[]},{"id":"3abeb6e9.c537c2","type":"http request","z":"1b75e785.a9292","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":410,"y":440,"wires":[["3523279c.bde28"]]},{"id":"3523279c.bde28","type":"csv","z":"1b75e785.a9292","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":590,"y":440,"wires":[["f34b689a.d5a67"]]},{"id":"9c4717c0.2685b","type":"debug","z":"1b75e785.a9292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":420,"wires":[]},{"id":"aedf2516.cbad48","type":"inject","z":"1b75e785.a9292","name":"empty triggers http request","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":440,"wires":[["3abeb6e9.c537c2"]]},{"id":"f34b689a.d5a67","type":"function","z":"1b75e785.a9292","name":"","func":"var tata = JSON.stringify(msg.payload);\n//tata = msg.payload[0].time;\nmsg.payload = tata;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":440,"wires":[["9c4717c0.2685b"]]},{"id":"d8e78905.709998","type":"inject","z":"1b75e785.a9292","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":360,"wires":[["ca799efa.416218"]]},{"id":"4e1c83e4.efeac4","type":"inject","z":"1b75e785.a9292","name":"payload 3 here. Function with multiple outputs ","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"str","x":230,"y":620,"wires":[["e2fd2930.dde3e","a2cc78d13a83df44"]]},{"id":"e2fd2930.dde3e","type":"function","z":"1b75e785.a9292","d":true,"name":"Test","func":"var msg1 = {payload:\"1\"};\nvar msg2 = {payload:\"2\"};\nvar msg3 = {payload:\"3\"};\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":620,"wires":[["3793a86e.bab97","77a304dc.77bc54"],["77a304dc.77bc54"],["eac728c9.a3dc48"]]},{"id":"3793a86e.bab97","type":"debug","z":"1b75e785.a9292","name":"msg1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":540,"wires":[]},{"id":"77a304dc.77bc54","type":"debug","z":"1b75e785.a9292","name":"msg2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":620,"wires":[]},{"id":"eac728c9.a3dc48","type":"debug","z":"1b75e785.a9292","name":"msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":680,"wires":[]},{"id":"9144f582.a4034","type":"comment","z":"1b75e785.a9292","name":"Expression JSONata","info":"Examples of how to write an expression jsonata see jsonata exerciser https://try.jsonata.org/\n\nexample1: on address json file\nfollowing jsonata: jsonata request on json data\n{\"city\": address.city,\n \"name\": FirstName & \" \" & Surname,\n \"mobile\": Phone[type = 'mobile'].number,\n \"email\":Email[1].address\n }\n \n example2: on invoice json file\n{ \n $sum(Order.Product.(Price*Quantity))\n}","x":130,"y":1020,"wires":[]},{"id":"482ff5bf.0666fc","type":"inject","z":"1b75e785.a9292","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"temperature\":86}","payloadType":"json","x":151,"y":1132,"wires":[["fee54d1d.d09338"]]},{"id":"fee54d1d.d09338","type":"change","z":"1b75e785.a9292","name":"Set pexpression value to payload ","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"toto\": (payload.temperature-32) * 5/9}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":501,"y":1152,"wires":[["8d1d8a8f.0a011"]]},{"id":"8d1d8a8f.0a011","type":"debug","z":"1b75e785.a9292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":1140,"wires":[]},{"id":"88b2631.1f54fa","type":"inject","z":"1b75e785.a9292","d":true,"name":"JSON payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"glossary\":{\"title\":\"example glossary\",\"GlossDiv\":{\"title\":\"S\",\"GlossList\":{\"GlossEntry\":{\"ID\":\"SGML\",\"SortAs\":\"SGML\",\"GlossTerm\":\"Standard Generalized Markup Language\",\"Acronym\":\"SGML\",\"Abbrev\":\"ISO 8879:1986\",\"GlossDef\":{\"para\":\"A meta-markup language, used to create markup languages such as DocBook.\",\"GlossSeeAlso\":[\"GML\",\"XML\"]},\"GlossSee\":\"markup\"}}}}}","payloadType":"json","x":150,"y":1480,"wires":[[]]},{"id":"9eccc21abab4f778","type":"debug","z":"1b75e785.a9292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"toto","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":400,"wires":[]},{"id":"a2cc78d13a83df44","type":"function","z":"1b75e785.a9292","name":"Setup 4 outputs","func":"var toto = {payload:\"5\"}; \nvar tata = {payload:\"10\"};\nvar aa = {payload:\"15\"};\nvar bb = {test:\"test pass this message\"};\nflow.set(\"test_flow_variable\",toto);\nmsg.comp = \"second test pass this message\";\n//return [toto,tata,aa,bb];\nreturn [toto,tata,aa,bb,msg];\n","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":780,"wires":[["89733a33ce7f7785"],["5363e001dbdb4b3a"],["167b91e9cd111099"],["e17abafa99471c72"]]},{"id":"89733a33ce7f7785","type":"debug","z":"1b75e785.a9292","name":"payload toto","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":780,"wires":[]},{"id":"5363e001dbdb4b3a","type":"debug","z":"1b75e785.a9292","name":"payload tata","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":820,"wires":[]},{"id":"e17abafa99471c72","type":"debug","z":"1b75e785.a9292","name":"Test bb","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"test","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":860,"wires":[]},{"id":"167b91e9cd111099","type":"debug","z":"1b75e785.a9292","name":"payload aa","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":740,"wires":[]},{"id":"9a968ed92a3d9123","type":"switch","z":"1b75e785.a9292","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"str"},{"t":"gt","v":"5","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"7","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":450,"y":1340,"wires":[["edbbe82bba02bfef"],["7ec5265f4ebf1a38"],["67a17f6f72678880"],[]]},{"id":"e1888366ded9779c","type":"inject","z":"1b75e785.a9292","name":"A static number","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"16","payloadType":"num","x":140,"y":1320,"wires":[["9a968ed92a3d9123"]]},{"id":"edbbe82bba02bfef","type":"debug","z":"1b75e785.a9292","name":"< 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":1300,"wires":[]},{"id":"67a17f6f72678880","type":"debug","z":"1b75e785.a9292","name":"==16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":1380,"wires":[]},{"id":"7ec5265f4ebf1a38","type":"debug","z":"1b75e785.a9292","name":"> 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":1340,"wires":[]},{"id":"c99cc180f535ea0c","type":"complete","z":"1b75e785.a9292","name":"Start when function setup 4 outputs completes","scope":["a2cc78d13a83df44"],"uncaught":false,"x":390,"y":860,"wires":[["20f50ae891f0d11d","140e93f339cdfb1e"]]},{"id":"20f50ae891f0d11d","type":"debug","z":"1b75e785.a9292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":920,"wires":[]},{"id":"b37043b461dc1b03","type":"function","z":"1b75e785.a9292","name":"msg toto attribute","func":"msg.toto = \"test\";\nreturn msg;\n//return {toto:\"test\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":40,"wires":[["22cfd25b.f5c356"]]},{"id":"d6939b05c816da8f","type":"debug","z":"1b75e785.a9292","name":"toto attribute","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"toto","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":100,"wires":[]},{"id":"3246ad183d4adec8","type":"complete","z":"1b75e785.a9292","name":"start when function msg toto attribute finishes","scope":["b37043b461dc1b03"],"uncaught":false,"x":390,"y":100,"wires":[["d6939b05c816da8f"]]},{"id":"140e93f339cdfb1e","type":"debug","z":"1b75e785.a9292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"comp","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":960,"wires":[]},{"id":"9dd7c9275576e9e8","type":"comment","z":"1b75e785.a9292","name":"inject payload a json type ","info":"{\"temperature\":86}","x":190,"y":1100,"wires":[]},{"id":"bb93931dccd8ca80","type":"comment","z":"1b75e785.a9292","name":"Set value type expression","info":"the expression\n{\"toto\": (payload.temperature-32) * 5/9}","x":530,"y":1120,"wires":[]},{"id":"75d5fa9f1bc6a48e","type":"comment","z":"1b75e785.a9292","name":"test switch node","info":"","x":120,"y":1280,"wires":[]},{"id":"be69983306c5a28b","type":"status","z":"1b75e785.a9292","name":"","scope":["482ff5bf.0666fc"],"x":420,"y":1500,"wires":[["c64c3b087ab22e93"]]},{"id":"28191b9151f73f29","type":"debug","z":"1b75e785.a9292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":1540,"wires":[]},{"id":"c64c3b087ab22e93","type":"function","z":"1b75e785.a9292","name":"","func":"msg.payload = \"toto\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1520,"wires":[["28191b9151f73f29"]]},{"id":"aa46a69ff0b400ee","type":"inject","z":"1b75e785.a9292","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":1680,"wires":[["65424fa6843d44d7"]]},{"id":"65424fa6843d44d7","type":"function","z":"1b75e785.a9292","name":"Fadila","func":"//var fadila = 0;\nif (fadila==4) {\n    msg.payload = true;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1680,"wires":[["1a2e3c9e2ef63f77"]]},{"id":"f1df424f50970ed1","type":"debug","z":"1b75e785.a9292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":1880,"wires":[]},{"id":"1a2e3c9e2ef63f77","type":"debug","z":"1b75e785.a9292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":1680,"wires":[]},{"id":"6aeb9704f3344b67","type":"http in","z":"1b75e785.a9292","name":"Hello test http in Get","url":"/hello","method":"get","upload":true,"swaggerDoc":"","x":130,"y":2360,"wires":[["4da12ea4303e5f1b"]]},{"id":"4da12ea4303e5f1b","type":"template","z":"1b75e785.a9292","name":"Hello","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--This is the payload: {{payload}} !-->\n<html>\n    <head></head>\n    <body>\n        <h1>Hello toto!</h1>\n    </body>\n</html>","output":"str","x":350,"y":2360,"wires":[["7f699ed0da4df154"]]},{"id":"7f699ed0da4df154","type":"http response","z":"1b75e785.a9292","name":"Response for hello page in","statusCode":"","headers":{},"x":620,"y":2360,"wires":[]},{"id":"04dc453a69f487f8","type":"inject","z":"1b75e785.a9292","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"This is template message","payloadType":"str","x":110,"y":1880,"wires":[["42891363291d4ca9"]]},{"id":"42891363291d4ca9","type":"template","z":"1b75e785.a9292","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}}\n<h1>Toto</h1>","output":"str","x":340,"y":1880,"wires":[["f1df424f50970ed1"]]},{"id":"51220e62d20e5d5d","type":"comment","z":"1b75e785.a9292","name":"http in template http response","info":"equivalent to WKF process:\nhttp server input --> HTML page\nby default the http respon node returns content in Text/html if no ha are header is added in the Headers area. If the reponse is json or other, click add button add content-type and then select the type you want to response","x":180,"y":2320,"wires":[]},{"id":"c568cc6798e51b16","type":"http in","z":"1b75e785.a9292","name":"Thank you http in POST","url":"/thankyou","method":"post","upload":false,"swaggerDoc":"","x":160,"y":2740,"wires":[["dd62fcfc60fe3713"]]},{"id":"f1c5b839f2a2f4f6","type":"http response","z":"1b75e785.a9292","name":"Response thank you","statusCode":"","headers":{},"x":860,"y":2820,"wires":[]},{"id":"c40f9527c0323463","type":"olcnr-html-content","z":"1b75e785.a9292","connect_server":"f81b169f.07e4e97","template":"Thank_you.OL-template","section":"Section 1","cssSelector":"","embedResources":"true","name":"Thank you Template","x":480,"y":2860,"wires":[["f1c5b839f2a2f4f6","57cf64840ff1bec3","7805bb78a1e600d5"]]},{"id":"4a9c87120142c18f","type":"http in","z":"1b75e785.a9292","name":"Hello test http in Get","url":"/test_httpin","method":"get","upload":true,"swaggerDoc":"","x":130,"y":2020,"wires":[["b1e2165bfc31aba1","db748b435616c505","d67fda812fb13f4f","a67c6403245ba3a6"]]},{"id":"a67c6403245ba3a6","type":"http response","z":"1b75e785.a9292","name":"Response for hello page in","statusCode":"","headers":{},"x":620,"y":2020,"wires":[]},{"id":"b1e2165bfc31aba1","type":"debug","z":"1b75e785.a9292","name":"payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":2100,"wires":[]},{"id":"2cfb1bcc7223473f","type":"comment","z":"1b75e785.a9292","name":"http in?","info":"select method for example Get\nEnter URL for example /test_httpin\nWhen we excute the flow, via browser, the url parameters will be held by msg.payload\nWe can wire debug node, to display ","x":110,"y":1980,"wires":[]},{"id":"db748b435616c505","type":"debug","z":"1b75e785.a9292","name":"res","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"res","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":2160,"wires":[]},{"id":"d67fda812fb13f4f","type":"debug","z":"1b75e785.a9292","name":"req body","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.body","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":2240,"wires":[]},{"id":"029a614a66ac3cba","type":"catch","z":"1b75e785.a9292","name":"catch fadila function error","scope":["65424fa6843d44d7"],"uncaught":false,"x":230,"y":1740,"wires":[["c224cf6403d43d38"]]},{"id":"c224cf6403d43d38","type":"function","z":"1b75e785.a9292","name":"","func":"// check to see if status should be cleared\n//msg.test = msg.topic;\nif (msg.topic == \"clear\") {\n    // YES so clear status and exit without sending a msg.\n    node.status({});\n    return;\n} else {\n    // NO, set status, msg.topis and return msg\n    node.status({fill:\"red\",shape:\"dot\",text:\"ERROR\"});\n    msg.topic = \"Logging flow\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1760,"wires":[["c09056c1785138ca"]]},{"id":"c09056c1785138ca","type":"debug","z":"1b75e785.a9292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":690,"y":1740,"wires":[]},{"id":"57cf64840ff1bec3","type":"debug","z":"1b75e785.a9292","name":"payload contains HTML, overrides the POST form elements","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":2880,"wires":[]},{"id":"dd62fcfc60fe3713","type":"change","z":"1b75e785.a9292","name":"","rules":[{"t":"set","p":"parameters","pt":"msg","to":"{\"testparam\":\"Fadila\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":2820,"wires":[["c40f9527c0323463","c30822fd318b3a9c"]]},{"id":"423ff91f2cd855ed","type":"http in","z":"1b75e785.a9292","name":"Contact us http in Get ","url":"/contact-us","method":"get","upload":false,"swaggerDoc":"","x":140,"y":2480,"wires":[["720c804e13a86e18"]]},{"id":"720c804e13a86e18","type":"olcnr-html-content","z":"1b75e785.a9292","connect_server":"f81b169f.07e4e97","template":"Contact_us.OL-template","section":"Section 1","cssSelector":"","embedResources":"true","name":"Contact us template","x":420,"y":2480,"wires":[["ea4071adb83b4c08","2b1acb495689f1ba"]]},{"id":"ea4071adb83b4c08","type":"http response","z":"1b75e785.a9292","name":"Response contact us page","statusCode":"","headers":{},"x":780,"y":2460,"wires":[]},{"id":"2b1acb495689f1ba","type":"debug","z":"1b75e785.a9292","name":"contact us HTML","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":2540,"wires":[]},{"id":"7805bb78a1e600d5","type":"debug","z":"1b75e785.a9292","name":"parameters after HTML Content","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"parameters","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":2920,"wires":[]},{"id":"939127927204c725","type":"comment","z":"1b75e785.a9292","name":"returms HTML output","info":"","x":840,"y":2520,"wires":[]},{"id":"6e2d3cad90f3f1c0","type":"http in","z":"1b75e785.a9292","name":"Thank you http in Post","url":"/thank--you","method":"post","upload":false,"swaggerDoc":"","x":140,"y":2600,"wires":[["f84a334879d7f2b4"]]},{"id":"f84a334879d7f2b4","type":"olcnr-html-content","z":"1b75e785.a9292","connect_server":"f81b169f.07e4e97","template":"Thank_you.OL-template","section":"Section 1","cssSelector":"","embedResources":"true","name":"Thank you Template","x":460,"y":2600,"wires":[["7021a81a4a75ebcc"]]},{"id":"7021a81a4a75ebcc","type":"http response","z":"1b75e785.a9292","name":"Response contact us page","statusCode":"","headers":{},"x":780,"y":2600,"wires":[]},{"id":"c30822fd318b3a9c","type":"debug","z":"1b75e785.a9292","name":"msg: payload of POST form elements & parameters to pass to template & req & res objects","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":2760,"wires":[]},{"id":"984e34cf255c4082","type":"watch-directory","z":"1b75e785.a9292","d":true,"folder":"C:\\Node Red\\projects\\cotg-timesheets\\in","recursive":0,"typeEvent":"create","ignoreInitial":false,"ignoredFiles":"","ignoredFilesType":"re","name":"","x":260,"y":3080,"wires":[["baa1136083ff1298"]]},{"id":"baa1136083ff1298","type":"debug","z":"1b75e785.a9292","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":530,"y":3080,"wires":[]},{"id":"664f97e27784cc3a","type":"comment","z":"1b75e785.a9292","name":"Post http in capture form data and parameters of the template set value","info":"","x":310,"y":2700,"wires":[]},{"id":"3fad00212dee4c85","type":"comment","z":"1b75e785.a9292","name":"capture data from contact us form as JSON","info":"The template Thank you uses the JSON as data model and extract data from it. In JSON the data fields name is the same than the name specified in the form input elements","x":260,"y":2560,"wires":[]},{"id":"8a29ccb0c75d612a","type":"comment","z":"1b75e785.a9292","name":"The thank you will be filled by the captured data","info":"","x":900,"y":2640,"wires":[]},{"id":"b421f2a0f7bb57f7","type":"comment","z":"1b75e785.a9292","name":"Set value to pass to the template parameter","info":"the type of the value is a json. and the name of the key is the same name than the parameter defined in the template","x":210,"y":2860,"wires":[]},{"id":"2aac952450f13ee0","type":"comment","z":"1b75e785.a9292","name":"Inputs of HTML content are: payload and parameters","info":"","x":610,"y":2900,"wires":[]},{"id":"859ff8c0dd71b83b","type":"comment","z":"1b75e785.a9292","name":"msg: file filename payload size _msgid","info":"","x":650,"y":3040,"wires":[]},{"id":"086461e42cd9bb3e","type":"inject","z":"1b75e785.a9292","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":3220,"wires":[["2c78effb0ac137ef","3041a5ba9380bb3c"]]},{"id":"2c78effb0ac137ef","type":"debug","z":"1b75e785.a9292","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":3220,"wires":[]},{"id":"3041a5ba9380bb3c","type":"file in","z":"1b75e785.a9292","name":"Read manifest","filename":"C:\\\\Node Red\\\\manifest_file.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":240,"y":3300,"wires":[["95d18906a00f3bb2"]]},{"id":"95d18906a00f3bb2","type":"json","z":"1b75e785.a9292","name":"","property":"payload","action":"","pretty":false,"x":490,"y":3300,"wires":[["e2e5a26974890c92"]]},{"id":"579b3fa69f2dc73d","type":"change","z":"1b75e785.a9292","name":"Set globals","rules":[{"t":"set","p":"email","pt":"global","to":"msg.payload.email","tot":"str"},{"t":"set","p":"someAPI","pt":"global","to":"msg.payload.someAPI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":3300,"wires":[[]]},{"id":"b5f990ed152a916f","type":"debug","z":"1b75e785.a9292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":3300,"wires":[]},{"id":"e2e5a26974890c92","type":"function","z":"1b75e785.a9292","name":"","func":"global.set(\"email\",msg.payload.email);\nglobal.set(\"someAPI\",msg.payload.someApi);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":3380,"wires":[["c0c91dae551c57f7"]]},{"id":"c0c91dae551c57f7","type":"debug","z":"1b75e785.a9292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":3380,"wires":[]},{"id":"7e9a5e68dbb9c35e","type":"comment","z":"1b75e785.a9292","name":"Test the global variables values read from a file","info":"","x":240,"y":3180,"wires":[]},{"id":"db2e06fbff6fe492","type":"inject","z":"1b75e785.a9292","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":3460,"wires":[["30fd3a7e1911d1e9"]]},{"id":"30fd3a7e1911d1e9","type":"change","z":"1b75e785.a9292","name":"","rules":[{"t":"set","p":"email","pt":"msg","to":"email","tot":"global"},{"t":"set","p":"jobendpoint","pt":"msg","to":"$globalContext(\"someAPI\") & \"/jobs\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":3460,"wires":[["ffed9c15f8ac4ff8","7572e06067aa24b1"]]},{"id":"ffed9c15f8ac4ff8","type":"debug","z":"1b75e785.a9292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"email","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":3460,"wires":[]},{"id":"7572e06067aa24b1","type":"debug","z":"1b75e785.a9292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"jobendpoint","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":3540,"wires":[]},{"id":"cac215ff376c3681","type":"comment","z":"1b75e785.a9292","name":"In Jsonata use $globalcontext('name of variable') to read the global variable value","info":"$globalContext('email')","x":440,"y":3500,"wires":[]},{"id":"b12de0b73c03af43","type":"comment","z":"1b75e785.a9292","name":"Get the global variables values ","info":"","x":190,"y":3420,"wires":[]},{"id":"1a414bcb1c6db41a","type":"inject","z":"6d50cefee5ebe7f3","name":"trigger this flow once after 0.1s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":140,"wires":[["8cdebe3b6fd807ed","f292a8d99aac4f67"]]},{"id":"8cdebe3b6fd807ed","type":"debug","z":"6d50cefee5ebe7f3","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":140,"wires":[]},{"id":"af44484c980d6f3d","type":"watch","z":"6d50cefee5ebe7f3","name":"","files":"C:\\\\Node Red\\\\manifest_file","recursive":"","x":860,"y":80,"wires":[[]]},{"id":"f292a8d99aac4f67","type":"file in","z":"6d50cefee5ebe7f3","name":"Read manifest of email and endpoind data","filename":"C:\\\\Node Red\\\\manifest_file.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":220,"y":220,"wires":[["3b3d249fa31cacb6"]]},{"id":"3b3d249fa31cacb6","type":"json","z":"6d50cefee5ebe7f3","name":"","property":"payload","action":"","pretty":false,"x":550,"y":220,"wires":[["101ac0009a1aecd6","430e6e6d05eecacf","d360bdb1b41ce3df"]]},{"id":"d360bdb1b41ce3df","type":"change","z":"6d50cefee5ebe7f3","name":"Set globals","rules":[{"t":"set","p":"email","pt":"global","to":"msg.payload.email","tot":"str"},{"t":"set","p":"someAPI","pt":"global","to":"msg.payload.someAPI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":260,"wires":[["cf5816de896355f8"]]},{"id":"430e6e6d05eecacf","type":"debug","z":"6d50cefee5ebe7f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":200,"wires":[]},{"id":"101ac0009a1aecd6","type":"function","z":"6d50cefee5ebe7f3","d":true,"name":"","func":"global.set(\"email\",msg.payload.email);\nglobal.set(\"someAPI\",msg.payload.someApi);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":340,"wires":[["8217cf80efa97ddd"]]},{"id":"8217cf80efa97ddd","type":"debug","z":"6d50cefee5ebe7f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":340,"wires":[]},{"id":"eae11694db0d4313","type":"inject","z":"6d50cefee5ebe7f3","name":"trigger this flow once after 0.1s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":460,"wires":[["f833a97bbecaa6e6"]]},{"id":"74adcaecb82f011c","type":"comment","z":"6d50cefee5ebe7f3","name":"Deploy Connect resources","info":"","x":210,"y":420,"wires":[]},{"id":"f833a97bbecaa6e6","type":"file in","z":"6d50cefee5ebe7f3","name":"Read JSON manifest of connect files","filename":"C:\\Node Red\\projects\\manifest_connect_resources.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":230,"y":540,"wires":[["263d8b614ebae60d"]]},{"id":"cf5816de896355f8","type":"debug","z":"6d50cefee5ebe7f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":260,"wires":[]},{"id":"263d8b614ebae60d","type":"json","z":"6d50cefee5ebe7f3","name":"","property":"payload","action":"","pretty":false,"x":570,"y":580,"wires":[["63f0582ab0a16c27","b74f593980dc9ba6"]]},{"id":"63f0582ab0a16c27","type":"debug","z":"6d50cefee5ebe7f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":460,"wires":[]},{"id":"57b8a56a161c4448","type":"comment","z":"6d50cefee5ebe7f3","name":"Convert JSON to JavaScript representation","info":"","x":620,"y":540,"wires":[]},{"id":"d5b5182198158438","type":"split","z":"6d50cefee5ebe7f3","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":720,"wires":[["8b8cb65a097822d0","dc0d8b3e752e09af"]]},{"id":"20e2f67966a574b8","type":"comment","z":"6d50cefee5ebe7f3","name":"Split json object cuz file upload uploads single file","info":"","x":220,"y":600,"wires":[]},{"id":"0e3f275617efc943","type":"olcnr-file-upload","z":"6d50cefee5ebe7f3","connect_server":"f81b169f.07e4e97","filename":"","fileDuration":"temporary","name":"","x":750,"y":800,"wires":[["cab27379a22e6cf3","59dc1d80da108311"]]},{"id":"8b8cb65a097822d0","type":"debug","z":"6d50cefee5ebe7f3","name":"split output msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":700,"wires":[]},{"id":"b74f593980dc9ba6","type":"change","z":"6d50cefee5ebe7f3","name":"Move resources array to payload","rules":[{"t":"move","p":"payload.resources","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":660,"wires":[["d5b5182198158438","bb3c025619e845a3"]]},{"id":"54540ba9815dcb38","type":"comment","z":"6d50cefee5ebe7f3","name":"Split uses payload. So move resources array to payload","info":"","x":220,"y":700,"wires":[]},{"id":"bb3c025619e845a3","type":"debug","z":"6d50cefee5ebe7f3","name":"payload contains resources array ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":660,"wires":[]},{"id":"dc0d8b3e752e09af","type":"change","z":"6d50cefee5ebe7f3","name":"Contrtuct resource path","rules":[{"t":"set","p":"resourceFolder","pt":"msg","to":"C:\\Node Red\\projects\\Print_invoice\\","tot":"str"},{"t":"set","p":"filename","pt":"msg","to":"msg.resourceFolder & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":800,"wires":[["0e3f275617efc943"]]},{"id":"cab27379a22e6cf3","type":"debug","z":"6d50cefee5ebe7f3","name":"payload after upload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":800,"wires":[]},{"id":"59dc1d80da108311","type":"debug","z":"6d50cefee5ebe7f3","name":"payload after upload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"managedFileId","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":860,"wires":[]},{"id":"13ca9dda.22db62","type":"inject","z":"40e605db.1646c4","name":"","props":[{"p":"payload","v":"Cause an error","vt":"str"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Cause an error","payloadType":"str","x":260,"y":180,"wires":[["878e49af.7d025"]]},{"id":"977f6cf6.9a1b5","type":"function","z":"40e605db.1646c4","name":"Display status","func":"// check to see if status should be cleared\nif (msg.topic == \"clear\") {\n    // YES so clear status and exit without sending a msg.\n    node.status({});\n    return;\n} else {\n    // NO, set status, msg.topis and return msg\n    node.status({fill:\"red\",shape:\"dot\",text:\"ERROR\"});\n    msg.topic = \"Logging flow\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":300,"wires":[["74767bb3.5f098c"]]},{"id":"878e49af.7d025","type":"function","z":"40e605db.1646c4","name":"This will throw an error","func":"var n = 23 + 56 / a;\n//var n = 23 + 56 ;\nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":180,"wires":[["42449687.d4d5c8"]]},{"id":"42449687.d4d5c8","type":"debug","z":"40e605db.1646c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","statusVal":"","statusType":"auto","x":710,"y":180,"wires":[]},{"id":"acf57cfc.609288","type":"delay","z":"40e605db.1646c4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":360,"y":240,"wires":[["44577add.6bf58c"]]},{"id":"44577add.6bf58c","type":"change","z":"40e605db.1646c4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"clear","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":240,"wires":[["977f6cf6.9a1b5"]]},{"id":"e426ad6.a61c05","type":"catch","z":"40e605db.1646c4","name":"","scope":null,"x":200,"y":300,"wires":[["acf57cfc.609288","977f6cf6.9a1b5"]]},{"id":"74767bb3.5f098c","type":"debug","z":"40e605db.1646c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","statusVal":"","statusType":"auto","x":910,"y":300,"wires":[]},{"id":"59ff2a1.fa600d4","type":"http in","z":"40e605db.1646c4","name":"","url":"/helloY","method":"get","upload":false,"swaggerDoc":"","x":190,"y":460,"wires":[["54c1e70d.ab3e18"]]},{"id":"54c1e70d.ab3e18","type":"template","z":"40e605db.1646c4","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n        <form action=\"http://localhost:1881/hello-form\" method=\"post\">\n            <input name=\"name\" value=\"Nick\">\n            <button>Say hello</button>\n        </form>\n    </body>\n</html>\n","x":370,"y":460,"wires":[["266c286f.d993d8"]]},{"id":"266c286f.d993d8","type":"http response","z":"40e605db.1646c4","name":"","statusCode":"","headers":{},"x":510,"y":460,"wires":[]},{"id":"5b98a8ac.a46758","type":"http in","z":"40e605db.1646c4","name":"","url":"/hello-form","method":"post","upload":false,"swaggerDoc":"","x":160,"y":660,"wires":[["5d74888188d05304"]]},{"id":"bba61009.4459f","type":"template","z":"40e605db.1646c4","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>","x":410,"y":580,"wires":[["6ceb930a.93146c"]]},{"id":"6ceb930a.93146c","type":"http response","z":"40e605db.1646c4","name":"","statusCode":"","headers":{},"x":610,"y":580,"wires":[]},{"id":"bf2eb055d859e312","type":"comment","z":"40e605db.1646c4","name":"http in Get","info":"This process serves a template that contains a form that contains an input and button elements.\nInput element holds a nameclick on the  button element triggers the http in post that serves a template where the msg.payload that recieves the form elements. msg.payload.name returns the name entered in the imput. the notation for that in the template to get the value of the variable payload is {{payload}}","x":200,"y":420,"wires":[]},{"id":"52a89f891e3aff7b","type":"template","z":"40e605db.1646c4","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ flow.formInputs.name }}!</h1>\n    </body>\n</html>","x":550,"y":680,"wires":[["f94db3419acbfb3b"]]},{"id":"5d74888188d05304","type":"change","z":"40e605db.1646c4","name":"","rules":[{"t":"set","p":"formInputs","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":680,"wires":[["52a89f891e3aff7b"]]},{"id":"f94db3419acbfb3b","type":"http response","z":"40e605db.1646c4","name":"","statusCode":"","headers":{},"x":730,"y":680,"wires":[]},{"id":"458ac8729f6d2fc3","type":"http in","z":"40e605db.1646c4","name":"","url":"/hello-form","method":"post","upload":false,"swaggerDoc":"","x":200,"y":560,"wires":[["bba61009.4459f"]]},{"id":"2c9b0d301c425606","type":"comment","z":"40e605db.1646c4","name":"add payload value in the template","info":"payload contains form elements\n","x":290,"y":520,"wires":[]},{"id":"5b8202436216f044","type":"comment","z":"40e605db.1646c4","name":"add flow variable value in the template","info":"payload contains form elements\nassign the payload to the flow variable\nuse the flow variable in the template\n","x":250,"y":620,"wires":[]},{"id":"c39db174.4b3d2","type":"complete","z":"6ba09aa34083f305","d":true,"name":"","scope":["119e8e79.9e8012","171cafbb.ddde5","b1af9e2c.05fcc8"],"uncaught":false,"x":310,"y":300,"wires":[["8b9484f6.1ad448"]]},{"id":"5a2dbdb6.575ee4","type":"inject","z":"6ba09aa34083f305","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"empty function and debug","payload":"hello world","payloadType":"str","x":300,"y":200,"wires":[["171cafbb.ddde5","119e8e79.9e8012","b1af9e2c.05fcc8"]]},{"id":"119e8e79.9e8012","type":"debug","z":"6ba09aa34083f305","name":"empty debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":200,"wires":[]},{"id":"171cafbb.ddde5","type":"function","z":"6ba09aa34083f305","name":"empty function","func":"","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":160,"wires":[]},{"id":"8b9484f6.1ad448","type":"debug","z":"6ba09aa34083f305","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":300,"wires":[]},{"id":"b1af9e2c.05fcc8","type":"function","z":"6ba09aa34083f305","name":"function (no output)","func":"msg.payload = \"goodbye world\"\nmsg.topic = \"not empty function\"\nmsg.foo = \"bar\"","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":240,"wires":[]},{"id":"618b1cf1.6df17c","type":"inject","z":"6ba09aa34083f305","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"testing complete node","payload":"","payloadType":"date","x":290,"y":400,"wires":[["d6ea6b13.304ce8","ed2f9d3d.1bcef8"]]},{"id":"17d0a463.499f2c","type":"debug","z":"6ba09aa34083f305","name":"function output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":380,"wires":[]},{"id":"fa3c7acb.30e618","type":"complete","z":"6ba09aa34083f305","name":"","scope":["d6ea6b13.304ce8","ed2f9d3d.1bcef8"],"uncaught":false,"x":290,"y":480,"wires":[["1d04b428.2c777c"]]},{"id":"1d04b428.2c777c","type":"debug","z":"6ba09aa34083f305","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":480,"wires":[]},{"id":"d6ea6b13.304ce8","type":"change","z":"6ba09aa34083f305","name":"","rules":[{"t":"set","p":"time","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"foo","pt":"msg","to":"bar","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"change node output","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":420,"wires":[["c90a3799.49fe6"]]},{"id":"ed2f9d3d.1bcef8","type":"function","z":"6ba09aa34083f305","name":"dummy function","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":380,"wires":[["17d0a463.499f2c"]]},{"id":"c90a3799.49fe6","type":"debug","z":"6ba09aa34083f305","name":"change output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":420,"wires":[]},{"id":"f534dce905d244fa","type":"inject","z":"4c4f7084c82dd860","name":"","props":[{"p":"payload.timestamp","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":60,"wires":[["81308ebba30c1dfa"]]},{"id":"81308ebba30c1dfa","type":"change","z":"4c4f7084c82dd860","name":"Set payload.level to Gold","rules":[{"t":"set","p":"payload.level","pt":"msg","to":"Gold","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":60,"wires":[["418ab5cb971895aa"]]},{"id":"418ab5cb971895aa","type":"change","z":"4c4f7084c82dd860","name":"Set payload.lorem","rules":[{"t":"set","p":"payload.lorem","pt":"msg","to":"ipsum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":100,"wires":[["f14b478c7571e834"]]},{"id":"863e4f37482e44de","type":"change","z":"4c4f7084c82dd860","name":"Set payload.level to Silver","rules":[{"t":"set","p":"payload.level","pt":"msg","to":"Silver","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":140,"wires":[["418ab5cb971895aa"]]},{"id":"f14b478c7571e834","type":"csv","z":"4c4f7084c82dd860","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":730,"y":100,"wires":[["ca1c158470857d33"]]},{"id":"b7e1ad72f9e343ad","type":"inject","z":"4c4f7084c82dd860","name":"","props":[{"p":"payload.timestamp","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":140,"wires":[["863e4f37482e44de"]]},{"id":"ca1c158470857d33","type":"file","z":"4c4f7084c82dd860","name":"","filename":"C:/projects/test.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":890,"y":100,"wires":[["ad50e98f69ccd3e6"]]},{"id":"ad50e98f69ccd3e6","type":"debug","z":"4c4f7084c82dd860","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":100,"wires":[]},{"id":"605d6aeb074c9a7a","type":"inject","z":"4c4f7084c82dd860","name":"","props":[{"p":"payload.timestamp","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":260,"wires":[["89e263be6f1c6ad1"]]},{"id":"89e263be6f1c6ad1","type":"change","z":"4c4f7084c82dd860","name":"Set payload.level to Gold","rules":[{"t":"set","p":"payload.level","pt":"msg","to":"Gold","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":260,"wires":[["f6ed4e983ba0333b"]]},{"id":"f6ed4e983ba0333b","type":"link out","z":"4c4f7084c82dd860","name":"link out gold","mode":"link","links":["96bb296702437849"],"x":475,"y":260,"wires":[]},{"id":"96bb296702437849","type":"link in","z":"4c4f7084c82dd860","name":"Link in lorem","links":["757f3639ab056b99","f6ed4e983ba0333b"],"x":85,"y":420,"wires":[["5b90c034b8babe49"]]},{"id":"5b90c034b8babe49","type":"change","z":"4c4f7084c82dd860","name":"Set payload.lorem","rules":[{"t":"set","p":"payload.lorem","pt":"msg","to":"ipsum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":420,"wires":[["cc607c35bbdd75e3"]]},{"id":"cc607c35bbdd75e3","type":"csv","z":"4c4f7084c82dd860","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":430,"y":420,"wires":[["9108f45943899884"]]},{"id":"9108f45943899884","type":"file","z":"4c4f7084c82dd860","name":"","filename":"C:/projects/test.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":590,"y":420,"wires":[["05b996091e329ba7"]]},{"id":"05b996091e329ba7","type":"debug","z":"4c4f7084c82dd860","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":420,"wires":[]},{"id":"6810e57381351a22","type":"inject","z":"4c4f7084c82dd860","name":"","props":[{"p":"payload.timestamp","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":320,"wires":[["0a37bde3aa98bca1"]]},{"id":"0a37bde3aa98bca1","type":"change","z":"4c4f7084c82dd860","name":"Set payload.level to Silver","rules":[{"t":"set","p":"payload.level","pt":"msg","to":"Silver","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":320,"wires":[["757f3639ab056b99"]]},{"id":"757f3639ab056b99","type":"link out","z":"4c4f7084c82dd860","name":"Link out silver","mode":"link","links":["96bb296702437849"],"x":455,"y":320,"wires":[]},{"id":"6fb7475791b14074","type":"inject","z":"4c4f7084c82dd860","name":"","props":[{"p":"payload.timestamp","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":560,"wires":[["20bc82ce9d14375e"]]},{"id":"20bc82ce9d14375e","type":"change","z":"4c4f7084c82dd860","name":"Set payload.level to Gold","rules":[{"t":"set","p":"payload.level","pt":"msg","to":"Gold","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":560,"wires":[["7e4aec59f3b6ee65"]]},{"id":"7e4aec59f3b6ee65","type":"subflow:81cba84f.9acf8","z":"4c4f7084c82dd860","name":"Store csv","env":[],"x":600,"y":600,"wires":[["42e5b06003398c35"]]},{"id":"2e1a681d79c0407f","type":"change","z":"4c4f7084c82dd860","name":"Set payload.level to Silver","rules":[{"t":"set","p":"payload.level","pt":"msg","to":"Silver","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":640,"wires":[["7e4aec59f3b6ee65"]]},{"id":"42e5b06003398c35","type":"debug","z":"4c4f7084c82dd860","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":600,"wires":[]},{"id":"53580252fa8395a8","type":"inject","z":"4c4f7084c82dd860","name":"","props":[{"p":"payload.timestamp","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":640,"wires":[["2e1a681d79c0407f"]]},{"id":"d22df70edac4fde7","type":"inject","z":"4c4f7084c82dd860","name":"","props":[{"p":"payload.timestamp","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":740,"wires":[["b5f01c081e302936"]]},{"id":"b5f01c081e302936","type":"change","z":"4c4f7084c82dd860","name":"Set payload.level to Gold","rules":[{"t":"set","p":"payload.level","pt":"msg","to":"Gold","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":740,"wires":[["0900c751a0d37d6a"]]},{"id":"0900c751a0d37d6a","type":"subflow:81cba84f.9acf8","z":"4c4f7084c82dd860","name":"Store csv","env":[],"x":600,"y":740,"wires":[["91f22828bb3d4d97"]]},{"id":"91f22828bb3d4d97","type":"debug","z":"4c4f7084c82dd860","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":740,"wires":[]},{"id":"6aa7bdd4aa53f274","type":"inject","z":"4c4f7084c82dd860","name":"","props":[{"p":"payload.timestamp","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":820,"wires":[["e0912ffdf7e415ed"]]},{"id":"e0912ffdf7e415ed","type":"change","z":"4c4f7084c82dd860","name":"Set payload.level to Silver","rules":[{"t":"set","p":"payload.level","pt":"msg","to":"Silver","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":820,"wires":[["92bc667e0e6354f2"]]},{"id":"92bc667e0e6354f2","type":"subflow:81cba84f.9acf8","z":"4c4f7084c82dd860","name":"Store csv","env":[],"x":600,"y":820,"wires":[["6bd09ed36f48ca83"]]},{"id":"6bd09ed36f48ca83","type":"debug","z":"4c4f7084c82dd860","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":820,"wires":[]},{"id":"8ae4492e2b478374","type":"comment","z":"4c4f7084c82dd860","name":"COTG flows","info":"","x":130,"y":920,"wires":[]},{"id":"4a5dbc83.5b6bd4","type":"inject","z":"4c4f7084c82dd860","name":"Sample data 2 recs.xml","props":[{"p":"filename","v":"C:\\Node Red\\projects\\cotg-timesheets\\resources\\Sample data 2 recs.xml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":1160,"wires":[["02c839a41aa2332a"]]},{"id":"4c0c9d9c.4a8d3c","type":"olcnr-data-mapping","z":"4c4f7084c82dd860","connect_server":"f81b169f.07e4e97","dmConfiguration":"","active":false,"name":"data mapping","x":500,"y":1020,"wires":[["25e34d16.2a423a"]]},{"id":"25e34d16.2a423a","type":"olcnr-data-get","z":"4c4f7084c82dd860","connect_server":"f81b169f.07e4e97","inputType":"set","outputType":"values","name":"","x":720,"y":1020,"wires":[["9122a90ce269ae6d","cb3431e7.96b558"]]},{"id":"cb3431e7.96b558","type":"split","z":"4c4f7084c82dd860","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":1100,"wires":[["96e489fa97076f28","e9512d1b.13efd8"]]},{"id":"3ef5e02a.44f06","type":"olcnr-html-content","z":"4c4f7084c82dd860","connect_server":"f81b169f.07e4e97","template":"COTG Timesheet Form.OL-template","section":"","cssSelector":"","embedResources":true,"name":"html content","x":870,"y":1100,"wires":[["2be537d2.a4371"]]},{"id":"2be537d2.a4371","type":"file","z":"4c4f7084c82dd860","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1040,"y":1100,"wires":[["d6f4755d.3077b"]]},{"id":"68df8f4f.345cb","type":"olcnr-cotg-publish","z":"4c4f7084c82dd860","cotg_server":"dcd6aeecc8234320","name":"","title":"","description":"","author":"","categories":"","recipients":"","x":710,"y":1220,"wires":[["87995a6d.d911a"]]},{"id":"e9512d1b.13efd8","type":"change","z":"4c4f7084c82dd860","name":"Set local variables","rules":[{"t":"set","p":"orderId","pt":"msg","to":"payload.fields.order_id","tot":"msg"},{"t":"set","p":"customer","pt":"msg","to":"payload.fields.customer","tot":"msg"},{"t":"set","p":"cotgAccount","pt":"msg","to":"payload.fields.cotg_account","tot":"msg"},{"t":"set","p":"filename","pt":"msg","to":"'C:\\\\projects\\\\cotg-timesheets\\\\forms\\\\' & payload.fields.guid & '.html'","tot":"jsonata"},{"t":"set","p":"parameters.formApi","pt":"msg","to":"'http://localhost:1881/cotg/timesheets/' & payload.fields.guid","tot":"jsonata"},{"t":"set","p":"_id","pt":"msg","to":"payload.fields.guid","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1100,"wires":[["3ef5e02a.44f06"]]},{"id":"6d868090.70a7","type":"comment","z":"4c4f7084c82dd860","name":"Render, store and publish","info":"","x":170,"y":980,"wires":[]},{"id":"d6f4755d.3077b","type":"function","z":"4c4f7084c82dd860","name":"Set COTG information","func":"msg.url               = msg.parameters.formApi\nmsg.title             = 'Order: ' + msg.orderId\nmsg.description       = 'A timesheet form.'\nmsg.author            = 'Node-RED'\nmsg.recipients        = 'hadouchef@ca.objectiflune.com'\nmsg.categories        = 'Timesheets'\nmsg.filetype          = 'HTML'\nmsg.keepOnServerFor   = 2\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1220,"wires":[["68df8f4f.345cb"]]},{"id":"85b9e0d8.112ad","type":"http in","z":"4c4f7084c82dd860","name":"","url":"/cotg/timesheets/:guid","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1300,"wires":[["87191c03.4f6868"]]},{"id":"e0afd506.b772e","type":"http response","z":"4c4f7084c82dd860","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":970,"y":1300,"wires":[]},{"id":"87995a6d.d911a","type":"debug","z":"4c4f7084c82dd860","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"documentId","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1220,"wires":[]},{"id":"9049355e.57396","type":"file in","z":"4c4f7084c82dd860","name":"Load the form from disk","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":730,"y":1300,"wires":[["e0afd506.b772e"]]},{"id":"87191c03.4f6868","type":"change","z":"4c4f7084c82dd860","name":"Define the file path","rules":[{"t":"set","p":"filename","pt":"msg","to":"'C:\\\\projects\\\\cotg-timesheets\\\\forms\\\\' & msg.req.params.guid & '.html'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1300,"wires":[["9049355e.57396"]]},{"id":"e16f12b9.4d005","type":"catch","z":"4c4f7084c82dd860","name":"File not found","scope":["9049355e.57396"],"uncaught":false,"x":710,"y":1360,"wires":[["78749cd.dc81d64"]]},{"id":"78749cd.dc81d64","type":"change","z":"4c4f7084c82dd860","name":"Set msg.statusCode","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"404","tot":"num"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1360,"wires":[["e0afd506.b772e"]]},{"id":"327d07ad.c76568","type":"comment","z":"4c4f7084c82dd860","name":"Serve COTG form","info":"","x":150,"y":1260,"wires":[]},{"id":"bd242696.4198f8","type":"http in","z":"4c4f7084c82dd860","name":"","url":"/cotg/timesheets/:guid","method":"post","upload":false,"swaggerDoc":"","x":180,"y":1840,"wires":[["8f6ea84d.8f3128","6411fd88.f49be4"]]},{"id":"6411fd88.f49be4","type":"http response","z":"4c4f7084c82dd860","name":"","statusCode":"","headers":{},"x":930,"y":1840,"wires":[]},{"id":"8f6ea84d.8f3128","type":"debug","z":"4c4f7084c82dd860","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":1880,"wires":[]},{"id":"69a6bc42.f0ac24","type":"comment","z":"4c4f7084c82dd860","name":"Capture submitted COTG data","info":"","x":190,"y":1800,"wires":[]},{"id":"e0c5f33b.6ae09","type":"watch-directory","z":"4c4f7084c82dd860","folder":"C:\\projects\\cotg-timesheets\\in","recursive":0,"typeEvent":"create","ignoreInitial":true,"ignoredFiles":"","ignoredFilesType":"re","name":"","x":180,"y":1020,"wires":[["4c0c9d9c.4a8d3c"]]},{"id":"9122a90ce269ae6d","type":"debug","z":"4c4f7084c82dd860","name":"payload after Data get","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":940,"wires":[]},{"id":"02c839a41aa2332a","type":"change","z":"4c4f7084c82dd860","name":"","rules":[{"t":"set","p":"dmConfiguration","pt":"msg","to":"COTG Timesheet Form.OL-datamapper","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":1080,"wires":[["4c0c9d9c.4a8d3c"]]},{"id":"8e615ae7be91c3c0","type":"function","z":"4c4f7084c82dd860","name":"","func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1020,"wires":[[]]},{"id":"96e489fa97076f28","type":"debug","z":"4c4f7084c82dd860","name":"payload after split","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":1140,"wires":[]},{"id":"625270fca3c87044","type":"comment","z":"4c4f7084c82dd860","name":"Call Subflow","info":"","x":130,"y":500,"wires":[]},{"id":"bb269dfd2ec32b7b","type":"comment","z":"4c4f7084c82dd860","name":"Link in & Link out","info":"","x":120,"y":220,"wires":[]},{"id":"91b9ae4fe0b812d1","type":"comment","z":"4c4f7084c82dd860","name":"Pass variables to same node","info":"","x":160,"y":20,"wires":[]}]